# Flakes
.direnv/

# Python
__pycache__/
*.py[cod]

# Secrets
*.env
*.env.*
cred.json
.DS_Store
server/files/*.png
server/images/*.jpg
server/videos/*
!server/videos/.gitkeep
# Terraform
.terraform*
terraform.tfstate*
