.page {
  background-color: #f2eed7;
  width: 100dvw;
  height: 100dvh;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}

.videoPane {
  display: flex;
  flex-direction: column; /* Stack contents vertically */
  justify-content: center; /* Align items to the top */
  align-items: center; /* Center the video horizontally */
  width: 70%; /* Adjust width as needed, e.g., 70% for video */
  padding: 16px; /* Optional padding for better spacing */
}

.listPane {
  min-width: 200px; /* Ensure the list has a minimum width */
  width: 30%; /* You can adjust this percentage as needed */
  padding: 16px; /* Add padding for better appearance */
  overflow: auto; /* Ensure scrolling if the list is long */
}

.videoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fefae0;
  width: 100%; /* Take full width of the video pane */
  max-width: 640px; /* Limit the max width */
  height: auto; /* Auto height to maintain aspect ratio */
  border-radius: 8px;
}

.videoContainer p {
  color: black;
  font-size: 24px;
  font-weight: 600;
}
